         {% comment %} Inventory tracking on product page {% endcomment %}
          <div id="variant-inventory" class="{% unless current_variant.available %} hide {% endunless %}">
            {% if current_variant.inventory_management == "shopify" and current_variant.inventory_policy != "continue" %}
            Vi har <span class="variant_inventory_quantity" data-inventory>{{ current_variant.inventory_quantity }}</span> på lager.
            {% endif %}
          </div>

          <script>
            window._VARIANTS = {};
            {% for variant in product.variants %}
            window._VARIANTS[{{ variant.id }}] = {{ variant.inventory_quantity }}
            {% endfor %}
          </script>
